*{
   margin:0;
   padding:0;
   box-sizing: border-box; 
}

.navbar{
    background-color: rgb(250, 122, 158);
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-logo{
    font-size: 1.8em;
    font-weight: bold;
}

.navbar-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links a{
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    opacity: o.8;
    transition: opacity 0.3s;
}

.hero-section{
    padding: 60px 10px;
    background-color: white;

}

.container_hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.text-content{
    max-width: 60%;
    
}

.greeting{
    font-size: 4em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px ;
    padding-top: 20px;
}

.title{
    font-size: 4em;
    color: rgb(250, 122, 158);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.image-content{
    flex: 0 0 300px;
    position: relative;
    padding: 15px;
}

.profile-image{
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-color: black;
    padding: 10px;
}

.about-section{
    padding: 40px 10px;
    background-color: white;
}

.about-me{
    padding-bottom: 10px;
    color: black;
    font-family: Arial;
    font-size: 1.2em;
}

.skills-section{
    padding: 40px 10px;
    background-color: white;
}

.my-skills{
    font-size: 1.5em;
    padding-bottom: 30px;
    font-family: Arial;
    color: black;
}

.qualification{
    display: flex;
    gap: 5em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-tag{
    background-color: rgb(250, 122, 158);
    padding: 15px 40px;
    border-radius: 5px;
    font-weight: bold;
    font-family: fantasy;
    text-transform: uppercase;
    font-size: 14px;
}

.projects-section{
    padding: 40px 10px;
    background-color: white;
}

.projects{
    display: grid;
    grid-template-columns: 1 1fr;
    gap: 30px;
}

.project-box{
    border: 1px solid;
    padding: 30px;
    border-radius: 8px;
    background-color: rgb(250, 122, 158);
    text-align: center;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}

.my-projects{
    padding-bottom: 20px;
    font-size: 1.8em;
    font-family: Arial;
    color: rgb(5, 5, 5);
}

.contact-section{
    padding: 40px 10px;
    background-color: white;
}

.contact-me{
    padding-bottom: 20px;
    font-size: 2em;
    font-family: Arial;
    color: black;
    margin-bottom: 40px;

}

.contact-form-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid blue;
    background-color: white;
}

.form-group{
    margin-bottom: 15px;
}

.authentication{
    padding: 30px 10px;
    background-color: rgb(250, 122, 158);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.authentication-me{
    color: white;
    font-family: Arial;
    font-size: small;
}

.send-button{
    border: 1px solid;
    background-color: rgb(250, 122, 158);
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    margin-top: 5px;
}